.travel-plan {
  background-color: rgb(255, 165, 0);
  width: 500px;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  padding: 10px 20px;
  display: inline-block;
}

.level-one > li {
  background-color: rgb(103, 158, 128);
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-position: 15px 10px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.level-one > li > span {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(199, 124, 106);
  margin-bottom: 10px;
  display: inline-block;
}

.level-two {
  background-color: rgb(153, 180, 102);
  font-size: 18px;
  font-style: italic;
  padding-left: 40px;
}

.level-two li {
  margin-bottom: 10px;
  padding-left: 40px;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.level-two span {
  background-color: rgb(218, 106, 32);
  width: auto;
  box-sizing: border-box;
}

.prep {
  background-image: url("icons/rule.svg");
}

.route {
  background-image: url("icons/ad_units.svg");
}

.ticket {
  background-image: url("icons/airplane_ticket.svg");
}

.hotel {
  background-image: url("icons/hotel.svg");
}

.car {
  background-image: url("icons/car_rental.svg");
}

.bar {
  background-image: url("icons/local_bar.svg");
}

.casino {
  background-image: url("icons/casino.svg");
}

.museum {
  background-image: url("icons/museum.svg");
}

.festival {
  background-image: url("icons/festival.svg");
}
